body {
    margin: 0;
    padding: 0;
    font-family: NanumMyeongjo; 
    background: #FFF;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 60px;
    padding: 8px 48px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: #34382E;
    background: #FFF;
    font-family: NanumMyeongjo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; 
}

ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    height: 752px;
    background: url(images/hero.png) center/cover no-repeat;
}


.herocontainer {
    display: flex;
    width: 900px;
    height: 435px;
    padding: 48px 68px 269px 68px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


h1{
    color: #60753F;
    font-family: montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
}

h2 {
    color: #60753F;
    font-family: montserrat;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    margin: 0px;
    align-self: stretch;
}

.psection {
    color: #34382E;
    font-family: NanumMyeongjo;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    width: 733px;
    margin: 0px;
}

.fold {
    display: flex;
    padding: 120px 48px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background: #FFF;
    flex-direction: row;
}

.foldp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fold img{
    width: 313px;
    height: 313px;
    border-radius: 19px;
}

.fold4 {
    display: flex;
    padding: 200px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    background: #FFEAB9;  
}

.fold4 h2{
    align-self: center;
}

.cardl {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.cardc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
}

.card {
    width: 200px;
    height: 320px;
    padding: 8px;
    overflow: hidden;
    gap: 10px;
    border-radius: 24px;
    box-shadow: 0px 8px 16px 0px rgba(126, 137, 109, 0.20); 
    background: #FFF;
}

.card p{
    color: #34382E;
    font-family: NanumMyeongjo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card h1{
    color: #34382E;
    font-family: montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card img{
    width: 100%;
    height: 180px;
}

.fold5 {
    display: flex;
    height: 200px;
    flex-direction: row;
    align-items: center;
    background: #FFF;
    background: url(images/footer.png) center/cover no-repeat;
    flex: 1 0 0;
}

.fold5 ul{
    font-family: montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; 
    gap: 100px;
    text-align: center;
}